<% provide(:sidebar, "#{render :partial => "contents/ckfield", :locals => {:content => @about_sidebar }}".html_safe) %>



<%= render :partial => 'contents/ckfield', :locals => {:content => @about_heading} %>


<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">About Us</a></li>
    <li><a href="#tab2" data-toggle="tab">Our Team</a></li>
    <li><a href="#tab3" data-toggle="tab">Portfolio & Experience</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render :partial => 'contents/ckfield', :locals => {:content => @about_about} %>
    </div>
    <div class="tab-pane" id="tab2">
      <%= render :partial => 'contents/ckfield', :locals => {:content => @about_team} %>
    </div>
    <div class="tab-pane" id="tab3">
      <%= render :partial => 'contents/ckfield', :locals => {:content => @about_portfolio} %>
    </div>
  </div>
</div>

<script>
    $( document ).ready(function() {
        $('div.cke_editable').attr("contenteditable",true);
    });

</script>


<%= render :partial => 'contents/ckfield', :locals => {:content => @about_contactus} %>
