<% provide(:sidebar, "#{render :partial => "contents/ckfield", :locals => {:content => @services_sidebar }}".html_safe) %>

<div class="emphasis">
  <%= render :partial => 'contents/ckfield', :locals => {:content => @services_info} %></div>

</br>

<div class="accordion" id="accordion2">

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        Exploratory Phase
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse in">
      <div class="accordion-inner">
        <%= render :partial => 'contents/ckfield', :locals => {:content => @services_explore} %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        Invest in China
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render :partial => 'contents/ckfield', :locals => {:content => @services_relocate} %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        Relocation Services
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render :partial => 'contents/ckfield', :locals => {:content => @services_management} %>
      </div>
    </div>
  </div>

  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        Management/Auditing
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <%= render :partial => 'contents/ckfield', :locals => {:content => @services_management} %>
      </div>
    </div>
  </div>



</div>

