<h1>Listing sliders</h1>

<ul id="sliders" data-update-url="<%= sort_sliders_url %>">


  <% @sliders.each do |slider| %>
    <%= content_tag_for :li, slider do %>
    <span class="handle">[drag]</span>
    <%= image_tag slider.picture_url(:thumb) %>
    <%= slider.title %>
    <%= link_to 'Show', slider %>
    <%= link_to 'Edit', edit_slider_path(slider) %>
    <%= link_to 'Destroy', slider, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>

<% end %>

<br />

<%= link_to 'New Slider', new_slider_path %>
